/**
 * Weight sizes
 *
 * Type: Map
 */

$iota-utils-weight-sizes: (
  light: 300,
  regular: 400,
  medium: 500,
  bold: 600,
);

/**
 * Namespace classes
 *
 * Type: String
 */

$iota-utils-weight-namespace: "weight-";

@import "node_modules/iotacss/utilities/weight";
