@font-face {
  font-family: "Stena Sans";
  src: url("/fonts/StenaSans-Regular.ttf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Stena Sans";
  src: url("/fonts/StenaSans-Medium.ttf");
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "Stena Sans";
  src: url("/fonts/StenaSans-Bold.ttf");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}
