html,
body {
  font-family: "Stena Sans";
  color: var(--color-text);
  background-color: var(--color-bg);
  height: 100%;
  font-size: 100%;
}

// Full height next app
body > div:first-child,
div#__next,
div#__next > div {
  height: 100vh;
}

body {
  display: flex;
  flex-direction: column;
  font-weight: 400;
  line-height: 1.75;
}
