.layout {
  display: flex;
  flex-flow: row;
}

.side-container {
  display: flex;
  flex: 0 0 20vw;
  // min-width: 350px;
  flex-flow: column;
  background-color: var(--color-panel-bg);
  padding: var(--su-5);
  border-left: 1px solid var(--color-default-bg);
  border-top: 1px solid var(--color-default-bg);
  overflow-y: auto;
}
