.main-container {
  display: flex;
  flex: 0 0 80vw;
  flex-flow: column-reverse;
}

main {
  flex: 1;
  background-color: var(--color-bg);
  background-size: var(--grid-main) var(--grid-main);
  background-image: linear-gradient(to right, var(--color-grid-line) 1px, transparent 1px),
    linear-gradient(to bottom, var(--color-grid-line) 1px, transparent 1px);
}
