.nav-main {
  --font-weight: var(--fw-3);
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  padding-left: var(--su-9);

  &__item {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: var(--font-weight);
    text-align: left;
    border-radius: var(--radius-btn);
    padding: var(--su-2) var(--su-3) var(--su-1) var(--su-3);
    border: 1px solid var(--color-btn-nav-bg-active);

    & + & {
      margin-left: var(--su-5);
    }

    &:hover {
      cursor: pointer;
      // background-color: var(--color-btn-nav-bg-active);
      border: 1px solid;
      position: relative;
    }
  }

  &__item--active {
    --font-weight: var(--fw-4);
    // background-color: var(--color-btn-nav-bg-active);
    border: 1px solid;
  }
}
