.dashboard-projects {
  display: flex;
  flex: 0 0 650px;
  overflow-x: scroll;
  height: 100%;
  width: 80vw;
  .container {
    width: 100%;
    overflow-x: scroll;
  }
  &__title {
  }
  &__grid {
    // width: 2000px;
  }
}

.grid {
  --gutter: var(--su-2);
  display: grid;
  height: 100%;
  column-gap: var(--gutter);
}

.grid--250 {
  grid-template-columns: repeat(11, minmax(250px, 1fr));
}

.grid--half {
  --gutter: var(--su-4);
  grid-template-columns: repeat(2, minmax(50%, 1fr));
}

.grid-item {
  height: 100%;
}
