.dashboard-stage {
  --info-margin: var(--su-2);

  display: flex;
  height: 100%;

  &__chart,
  &__info {
  }

  &__chart {
    flex: 1 0 60vh;
    overflow-y: auto;
    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__info {
    flex: 1 1 calc(40vh - 100px);
    background-color: var(--color-panel-bg);
    margin: 0 var(--info-margin);
    overflow: hidden;
    @include z-index("above");
  }
}

.dashboard-stage {
  &--rows {
    flex-flow: column;
  }
  &--grid {
    --info-margin: 0;
  }
}
