.dashboard-stage {
  --info-margin: var(--su-2);

  display: flex;
  height: 100%;

  &__chart,
  &__info {
  }

  &__chart {
    flex: 1 1 60%;
  }

  &__info {
    flex: 1 1 40%;
    background-color: var(--color-panel-bg);
    margin: 0 var(--info-margin);
  }
}

.dashboard-stage {
  &--rows {
    flex-flow: column;
  }
  &--grid {
    --info-margin: 0;
  }
}
