:root {
  --gridGutter: var(--su-2);
  --gridRepeatCount: 6;
  --gridColWidth: 250px;
  --gridSubtitleMultiplier: 1;
}

.dashboard {
  --stage-padding-x: var(--su-6);

  height: 100%;
  .container {
    height: 100%;
  }

  &__title {
    font-size: var(--fs-h4);
    font-weight: var(--fw-4);
    margin: var(--stage-padding-x);
  }

  &__group-titles {
    margin-left: var(--stage-padding-x);
    margin-bottom: var(--su-4);
    display: flex;
    flex-direction: row;
    font-size: var(--fs-h5);
    color: var(--color-grey-70);
    border-bottom: 1px solid var(--color-grey-09);
    overflow-x: hidden;
    width: calc(calc(var(--gridColWidth) + var(--gridGutter)) * var(--gridRepeatCount));
  }

  &__group-title {
    width: calc(
      calc(var(--gridColWidth) + var(--gridGutter)) * var(--gridSubtitleMultiplier)
    );
  }

  &__grid {
    padding-top: var(--su-1);
    padding-left: var(--stage-padding-x);
  }
}

.grid {
  display: grid;
  height: 100%;
  column-gap: var(--gridGutter);
}

.grid--250 {
  grid-template-columns: repeat(
    var(--gridRepeatCount),
    minmax(var(--gridColWidth), var(--gridColWidth))
  );
}

.grid--half {
  --gridGutter: var(--su-4);
  grid-template-columns: repeat(2, minmax(50%, 1fr));
}

.grid-item {
  height: 100%;
  overflow-y: hidden;
}
