.digital-bet-item {
  --padding: var(--su-3);
  --margin: var(--su-3);
  --radius: var(--radius-default);

  line-height: 1;

  padding: var(--padding);
  border-radius: var(--radius);
  background-color: var(--color-card-digitalBet);

  & + & {
    margin-top: var(--margin);
  }

  &--small {
    --padding: var(--su-1) var(--su-2) var(--su-1) var(--su-1);
    --radius: var(--radius-round);
  }

  &__icons {
    display: flex;
    flex-flow: column;
    flex: 0 0 30px;
  }

  &__status-icon {
  }

  &__content {
    display: flex;
  }

  &__main {
    display: flex;
    flex-flow: column;
    flex: 1;
    > div + div {
      margin-top: var(--su-2);
    }
  }

  &__category {
    font-size: 0.9rem;
  }

  &__stage {
    font-weight: var(--fw-4);
  }

  &__stakeholder {
  }

  &__label {
    font-weight: var(--fw-4);
  }

  &__aside {
    flex: 0 0 100px;
    text-align: right;
    margin-left: var(--su-2);
  }
}

// Small
.digital-bet-item--small {
  align-items: center;

  .digital-bet-item__content {
    justify-content: space-between;
  }

  .digital-bet-item__main {
    flex: 2 1 auto;
    width: 100%;
  }

  .digital-bet-item__aside {
    display: flex;
    text-align: left;
    flex: 1;
    align-items: center;
  }
  .digital-bet-item__stage {
    white-space: nowrap;
  }

  .digital-bet-item__icons,
  .digital-bet-item__content {
    align-items: center;
  }

  .digital-bet-item__icons {
    flex: 0 auto;
    margin-right: var(--su-1);
  }
}
