.progress-bar {
  --height: 3px;

  display: flex;
  position: relative;
  height: var(--height);
  background-color: var(--color-default-bg);

  &--small {
    --height: 2px;
  }
  &--large {
    --height: 4px;
  }

  &__bar {
    height: var(--height);
    position: absolute;
    background-color: var(--color-default-fg);
  }
}
