.progress-bar {
  --height: 2px;

  display: flex;
  position: relative;
  height: var(--height);

  &--small {
    --height: 1px;
  }
  &--large {
    --height: 4px;
  }

  &__bar {
    height: var(--height);
    position: absolute;
    background-color: white;
  }
}
